

<mat-card class="mat-elevation-z12" style="background-color: #3f51b5; color: white; width: 50%; height: 80%; margin: auto; margin-top: 60px; border-radius: 24px;">


  <mat-card-title>
    <h1 style="text-align: center">Welcome Back</h1>
    <h2 style="text-align: center"> Please login to your account.</h2>

  </mat-card-title>
  <mat-card-content style="background-color: white; border-radius: 24px; text-align: center">


    <mat-divider></mat-divider>
    <br />
    <br />

    <mat-form-field appearance="outline">
      <mat-label style="font-size: 12px;">
        <mat-icon style="font-size: 24px; vertical-align: middle;">account_circle</mat-icon> &nbsp; &nbsp;Username
      </mat-label>
      <input type="text" style="color:black" matInput [(ngModel)]="username" placeholder="">
    </mat-form-field>

    <br />
    <br />

    <mat-form-field appearance="outline">
      <mat-label style="font-size: 12px;">
        <mat-icon style="font-size: 24px; vertical-align: middle;">account_circle</mat-icon> &nbsp; &nbsp;Password
      </mat-label>
      <input type="password" style="color:black" matInput [(ngModel)]="password" placeholder="">
    </mat-form-field>

    <br />
    <br />

    <button mat-raised-button color="primary" (click)="login()">&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;</button>

    <br />
    <br />
    <mat-divider></mat-divider>
    <br />

    <button mat-raised-button color="accent" (click)="login()">&nbsp;&nbsp;&nbsp;Register&nbsp;&nbsp;&nbsp;</button>

    <br />
    <br />
    <mat-divider></mat-divider>
    <br />

    <p style="color:dimgrey; text-align:center">Having trouble logging-in? <br /> Contact Support @support.info.</p>

    <mat-divider></mat-divider>
    <br />

  </mat-card-content>


</mat-card>
