<mat-toolbar color="primary">
  <span style="flex: 1 1 auto;"></span>
  <h1>Hello! {{fname}}&nbsp;{{lname}}</h1>
  <span style="flex: 1 1 auto;"></span>

  <button mat-mini-fab color="primary" (click)="drawer.toggle()">
    <mat-icon>reorder</mat-icon>
  </button>
  <button mat-mini-fab color="warn" [routerLink]="['/login']">
    <mat-icon>logout</mat-icon>
  </button>

</mat-toolbar>

<mat-drawer-container style="height: 100%;" autosize>
  <mat-drawer #drawer style="width: 20%; min-width: 70px; margin-left: 0px;" mode="side" opened="isOpened" position="end">
    <div class="mat-elevation-z8" style="height: 300px; width: 100%; background-image: url('{{imgUrl}}'); background-size:cover; background-position:center">

    </div>
    <br />
    
    <h3 style="text-align:center">User: {{username}}</h3>

    <mat-list>

      <br />
      <mat-divider></mat-divider>
      <br />

      <h3 style="text-align:center">Contacts</h3>

      <ng-container *ngFor="let contact of contact_list">
        <mat-list-item>
          <button mat-mini-fab color="primary" class="mat-elevation-z8" [routerLink]="['/bundy']" style="background-image: url('{{imgUrl}}'); background-size:cover">
          </button>
          <h4 style="text-align: center">
            &nbsp;&nbsp;{{contact.contact_name}}
          </h4>
        </mat-list-item>
      </ng-container>

      <br />
      <mat-divider></mat-divider>
      <br />

      <h3 style="text-align:center">Messages</h3>

      <mat-list-item>
        <button mat-mini-fab color="primary" class="mat-elevation-z8">
          <mat-icon>hail</mat-icon>
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <mat-card style="width: 90%; background-color: #3f51b5; color: white">

          <mat-card-content>
            <p>Sample Content</p>
          </mat-card-content>
        </mat-card>
      </mat-list-item>

      <br />
      <br />



    </mat-list>

  </mat-drawer>
</mat-drawer-container>
